html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.nav__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 16px;
  background: wheat;
}

.nav__item {
  padding: 0 16px;
}

.nav__link {
  text-decoration: none;
}

.active {
  border-bottom: 2px solid red;
}

.home {
  height: 100vh;
  background: salmon;
}

.about {
  height: 100vh;
  background: tomato;
}

.news {
  height: 100vh;
  background: yellow
}

.music {
  height: 100vh;
  background: yellowgreen
}

.instagram {
  height: 100vh;
  background: blueviolet;
}

.blog {
  height: 100vh;
  background: pink;
}

.facebook {
  height: 100vh;
  background: teal;
}

.contact {
  height: 100vh;
  background: orange;
}